.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #00ab6c;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-form {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.App-form input {
    width: 100%;
    font-size: 1rem;
}

.App-form input:focus{
    outline: none;
}

.App-form button {
    width: 100px;
    height: 80px;
    font-size: 1rem;
    background-color: darkgrey;
}
