.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #00ab6c;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-form {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.App-form input {
    width: 100%;
    font-size: 1rem;
}

.App-form input:focus{
    outline: none;
}

.App-form button {
    width: 100px;
    height: 80px;
    font-size: 1rem;
    background-color: darkgrey;
}

.MessageCardGroup {
    height: 80vh;
    min-height: 80vh;
    overflow: scroll;
}

.MessageCard-cardLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.MessageCard-cardRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.MessageCard-author {
    color: #0006;
}

.MessageCard-payload {
    color: black;
    background-color: #f1f0f0;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

.MessageCard-time {
    color: #0006;
    padding-top: 10px;
    text-align: right;
}

.App-Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
